<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/1B21E8D5-4F21-4CE0-8BDA-18EBBB85DD39.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/1B21E8D5-4F21-4CE0-8BDA-18EBBB85DD39.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/5F30117D-5A77-4A6F-8F3B-F38A3BA64DD8.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/5F30117D-5A77-4A6F-8F3B-F38A3BA64DD8.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/6740CDFC-9AF9-436C-A482-B53E4FF492E2.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/6740CDFC-9AF9-436C-A482-B53E4FF492E2.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/697FF2BD-0761-41B8-8698-478E3F006914.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/90DC4ED6-C567-4B69-B4A2-C95CE8607F23.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/90DC4ED6-C567-4B69-B4A2-C95CE8607F23.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/F5B6891D-661F-454A-BC2F-2851C8BBAE97.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/F5B6891D-661F-454A-BC2F-2851C8BBAE97.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CheckResult.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CheckWon.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Flush.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/OnePair.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Straight.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ThreeOfAKind.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/TwoPair.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
