<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DocumentThumbnailConfiguration</key>
	<dict>
		<key>accentColorHash</key>
		<data>
		XrZ/n4QJucP3OXNWM8vfkhITk9DhO9D0ZLGypqFa0tw=
		</data>
		<key>appIconHash</key>
		<data>
		6BfE0qtJy/Vl2PgPew0g2IjvRHPJjffav0fTtP37VZs=
		</data>
		<key>thumbnailIsPrerendered</key>
		<false/>
	</dict>
</dict>
</plist>
