<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>FFBD92B4-B720-4E1A-BFE3-62867D89C099.playgroundpage</string>
		<string>4C66483D-59B4-447E-8F5E-7893792656F3.playgroundpage</string>
		<string>5B578A4B-F6AA-4557-B188-9A8D9B46003D.playgroundpage</string>
		<string>8912C293-2898-4178-B933-19CCCD7643EE.playgroundpage</string>
	</array>
</dict>
</plist>
