<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseVersion</key>
	<string>1.0</string>
	<key>DiffPackType</key>
	<string>UserEdit</string>
	<key>DocumentType</key>
	<string>PlaygroundBook</string>
	<key>Name</key>
	<string>com.yourdomain.742A104B</string>
	<key>UpdateVersion</key>
	<string>1.0</string>
	<key>Updates</key>
	<dict>
		<key>Added</key>
		<array>
			<dict>
				<key>File</key>
				<string>Chapters/Answers.playgroundchapter/Pages/Text.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Answers.playgroundchapter/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/oneColum.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/input.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/playGame.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/creatboard.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/mutiColumn.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Answers.playgroundchapter/Pages/F277A502-757B-443B-A11E-AFC7E0922363.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/isWinV.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/IsWinH.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/isWinLD_RU.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/isWinRD_LU.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/isWin.swift</string>
			</dict>
		</array>
		<key>Modified</key>
		<array>
			<dict>
				<key>Diff</key>
				<string>Chapters/Answers.playgroundchapter/Pages/Text.playgroundpage/main.swift.delta</string>
				<key>File</key>
				<string>Chapters/Answers.playgroundchapter/Pages/Text.playgroundpage/main.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>Chapters/Answers.playgroundchapter/Pages/F277A502-757B-443B-A11E-AFC7E0922363.playgroundpage/main.swift.delta</string>
				<key>File</key>
				<string>Chapters/Answers.playgroundchapter/Pages/F277A502-757B-443B-A11E-AFC7E0922363.playgroundpage/main.swift</string>
			</dict>
		</array>
		<key>Removed</key>
		<array>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/000Adventure.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/000Quiz.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/000SharedCode.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/Dealing cards.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/Gain.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/StringExtension.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/calculation.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/draft.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/eachRound.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/first2rounds.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/genCardIndexes.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/genvards.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/genCardMarks.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/getinput.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/judgement.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/output.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/plCapital.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/plbet.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/MyFiles.playgroundmodule/Sources/showString.swift</string>
			</dict>
		</array>
		<key>Replaced</key>
		<array/>
	</dict>
</dict>
</plist>
