<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>3E1B926B-60C8-4FFF-BD25-77F8E4B4129D.playgroundpage</string>
		<string>AFDF60C4-7F87-49C3-A3E3-E6EE90B33AA9.playgroundpage</string>
	</array>
</dict>
</plist>
