<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>Text.playgroundpage</string>
		<string>API Overview.playgroundpage</string>
		<string>205D6873-67A6-4926-9451-63C65C62DFA2.playgroundpage</string>
	</array>
</dict>
</plist>
