<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>99B108E1-05E8-444E-8170-A18A17B54D8C.playgroundpage</string>
		<string>EFB0F245-99EC-4CA1-962C-AD06B39EBD5E.playgroundpage</string>
		<string>D31043DD-A780-46A8-B6A9-85448CFDA1F2.playgroundpage</string>
	</array>
</dict>
</plist>
