<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>81573C91-CF58-4A95-B3AD-996705CCABFA.playgroundpage</string>
		<string>5B2F8457-3603-4E2C-B49C-352C66F5E59A.playgroundpage</string>
		<string>C0208D39-25D2-47FD-84FF-25A3E1287C61.playgroundpage</string>
		<string>4C7D3F11-971D-457F-9A77-1FC0A07923C5.playgroundpage</string>
	</array>
</dict>
</plist>
