<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8726A6A0-CC97-4891-93DC-1C11770D5A84.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/8726A6A0-CC97-4891-93DC-1C11770D5A84.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/934338F2-8B39-4F37-8974-1C80D1EA06E6.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/934338F2-8B39-4F37-8974-1C80D1EA06E6.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BDE3DE01-C462-4520-934D-AFBC79412C80.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BDE3DE01-C462-4520-934D-AFBC79412C80.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BFFB5D7E-3ED4-41C7-8651-F94B50539BD2.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BFFB5D7E-3ED4-41C7-8651-F94B50539BD2.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/E24B641F-6C62-4FC1-8FFC-2D4FBA376704.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/E24B641F-6C62-4FC1-8FFC-2D4FBA376704.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CheckResult.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CheckWon.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Flush.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/OnePair.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Straight.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ThreeOfAKind.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/TwoPair.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
