<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>Text.playgroundpage</string>
		<string>31AC0534-6DFA-455C-8476-C7CC11865978.playgroundpage</string>
		<string>8D72AC3D-455E-4CC0-B616-BD905EED27D6.playgroundpage</string>
	</array>
</dict>
</plist>
