<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>Name</key>
	<string>Text</string>
	<key>UserModuleCodeCompletionDirectives</key>
	<array>
		<string>identifier, hide, setupLiveView()</string>
	</array>
	<key>UserModuleSourceFilesToOpen</key>
	<array>
		<string>UserModules/MyFiles.playgroundmodule/Sources/SharedCode.swift</string>
	</array>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
