<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/08BBF7B2-F31E-4CFC-9331-1AED90E678F4.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/08BBF7B2-F31E-4CFC-9331-1AED90E678F4.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/10184AE3-CB4A-48C7-BA4D-AD72DB34D50F.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/10184AE3-CB4A-48C7-BA4D-AD72DB34D50F.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/A29B7475-88D5-45A3-9BDE-B5D0C8DB40A5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/A29B7475-88D5-45A3-9BDE-B5D0C8DB40A5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/AD50761D-F8F7-47CA-B035-A92A3160DD4B.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/AD50761D-F8F7-47CA-B035-A92A3160DD4B.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BDC969FA-EA64-40F4-BBE7-90886640BEA6.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BDC969FA-EA64-40F4-BBE7-90886640BEA6.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FE5EE3C1-E6E7-4FE9-8EBD-BF3823670BF2.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/FE5EE3C1-E6E7-4FE9-8EBD-BF3823670BF2.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CheckWon.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Flush.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/FullHouse.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/OnePairWon.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Result.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Straight.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ThreeOfAKind.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/TwoPairs.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
