<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>AD50761D-F8F7-47CA-B035-A92A3160DD4B.playgroundpage</string>
		<string>A29B7475-88D5-45A3-9BDE-B5D0C8DB40A5.playgroundpage</string>
		<string>FE5EE3C1-E6E7-4FE9-8EBD-BF3823670BF2.playgroundpage</string>
		<string>08BBF7B2-F31E-4CFC-9331-1AED90E678F4.playgroundpage</string>
		<string>BDC969FA-EA64-40F4-BBE7-90886640BEA6.playgroundpage</string>
		<string>10184AE3-CB4A-48C7-BA4D-AD72DB34D50F.playgroundpage</string>
	</array>
</dict>
</plist>
