<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>Text.playgroundpage</string>
		<string>3881277E-EF40-4931-A048-29EBA56CAAB3.playgroundpage</string>
		<string>7CEF9FB7-DAA7-44A6-8C2E-294A19E7499A.playgroundpage</string>
	</array>
</dict>
</plist>
