<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>508D28EE-199D-4C2B-A285-9048FBEC4C85.playgroundpage</string>
		<string>D73CD6F2-FA65-4B1C-9200-CDBB9160A02C.playgroundpage</string>
		<string>2443312E-4234-47F0-8C93-E0A1FF557F0D.playgroundpage</string>
		<string>0327D67E-BC0B-45BD-8953-7C3DD808443B.playgroundpage</string>
		<string>1912765A-BBA6-4C2B-A6E1-B7D341EBDE50.playgroundpage</string>
	</array>
</dict>
</plist>
