<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>D0CBA95F-9714-4590-8589-74F070C47445.playgroundpage</string>
		<string>254E25A6-1F13-4799-AF2A-8AE8117913F2.playgroundpage</string>
	</array>
</dict>
</plist>
