<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>D4F84E8A-E1EC-41CD-8946-A413B13246E0.playgroundpage</string>
		<string>FA6E2F46-C0AB-4FD8-87E0-057C75CC5DF5.playgroundpage</string>
		<string>185D74B3-6704-4696-9C1A-6A2D2424B084.playgroundpage</string>
		<string>65AAD7D2-7A17-4440-8D60-13200996F8B2.playgroundpage</string>
		<string>A72059A6-7574-4D19-9154-4290EFC35AB3.playgroundpage</string>
	</array>
</dict>
</plist>
