<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>372106F2-F818-4C8A-A807-9A56C04A3FFF.playgroundpage</string>
		<string>0722195C-90DE-450C-9B14-3BE0391FE16F.playgroundpage</string>
		<string>E1FACDB7-AF3A-4BB3-8278-47DE67DC4A35.playgroundpage</string>
		<string>AAF7A767-9648-4C50-8EC6-BB489BB5B90B.playgroundpage</string>
		<string>E6C7AFAC-345C-475A-95A5-6827BE9A7689.playgroundpage</string>
		<string>CD7C9424-4253-4DE2-97FC-9060D0625389.playgroundpage</string>
	</array>
</dict>
</plist>
