<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>934338F2-8B39-4F37-8974-1C80D1EA06E6.playgroundpage</string>
		<string>E24B641F-6C62-4FC1-8FFC-2D4FBA376704.playgroundpage</string>
		<string>BDE3DE01-C462-4520-934D-AFBC79412C80.playgroundpage</string>
		<string>BFFB5D7E-3ED4-41C7-8651-F94B50539BD2.playgroundpage</string>
		<string>8726A6A0-CC97-4891-93DC-1C11770D5A84.playgroundpage</string>
		<string>1C8B4CF0-AA3A-46F4-967C-D174CC90BEBD.playgroundpage</string>
	</array>
</dict>
</plist>
