<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/4C7D3F11-971D-457F-9A77-1FC0A07923C5.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/4C7D3F11-971D-457F-9A77-1FC0A07923C5.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/5B2F8457-3603-4E2C-B49C-352C66F5E59A.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/5B2F8457-3603-4E2C-B49C-352C66F5E59A.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/81573C91-CF58-4A95-B3AD-996705CCABFA.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/81573C91-CF58-4A95-B3AD-996705CCABFA.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/C0208D39-25D2-47FD-84FF-25A3E1287C61.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/C0208D39-25D2-47FD-84FF-25A3E1287C61.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CircleImage.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ContentView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Landmark.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/LandmarkDetail.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/LandmarkList.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/LandmarkRow.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/MapView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ModelData.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</key>
		<string>Removed</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
