<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>06BEC6B9-CF8A-4B3D-BDFF-7202C6AA034B.playgroundpage</string>
		<string>0702CD70-2E36-4C89-82D9-085EDF13A600.playgroundpage</string>
	</array>
</dict>
</plist>
