<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>Text.playgroundpage</string>
		<string>B3C1E4BF-5255-4D2D-B917-33BDB6891DD3.playgroundpage</string>
	</array>
</dict>
</plist>
