<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>4B058885-0502-4B4E-A900-B5BEE44C31FF.playgroundpage</string>
		<string>7969FFC3-B1A8-48BA-8C0D-5F08BDB8D753.playgroundpage</string>
		<string>F94B2638-96C4-4863-944A-DDA41C9F3CD9.playgroundpage</string>
		<string>2E50BC30-E4B5-4F07-A4C5-9EA7162A59D2.playgroundpage</string>
		<string>D51686A3-404E-4608-9D7A-2DBC66B68DC8.playgroundpage</string>
	</array>
</dict>
</plist>
