<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/618070A9-D938-4C7C-B133-473D15581BE2.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/618070A9-D938-4C7C-B133-473D15581BE2.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/A954710D-DFCC-4BF6-9F3D-69D5F345E5E4.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/A954710D-DFCC-4BF6-9F3D-69D5F345E5E4.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/D5A63E34-7E0E-4183-9FA0-68C787062F6C.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/D5A63E34-7E0E-4183-9FA0-68C787062F6C.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/CircleImage.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ContentView.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/MapView.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
