<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>DF5DD79C-2D0A-48CB-9F3A-DBA6FD4FABB7.playgroundpage</string>
		<string>06BEC6B9-CF8A-4B3D-BDFF-7202C6AA034B.playgroundpage</string>
		<string>695E177A-F6AE-4CA1-9C61-8516996EC683.playgroundpage</string>
		<string>92037564-2A43-473B-9ACD-A8593E9C2C93.playgroundpage</string>
	</array>
</dict>
</plist>
