<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>My Playground.playgroundpage</string>
		<string>618070A9-D938-4C7C-B133-473D15581BE2.playgroundpage</string>
		<string>D5A63E34-7E0E-4183-9FA0-68C787062F6C.playgroundpage</string>
		<string>A954710D-DFCC-4BF6-9F3D-69D5F345E5E4.playgroundpage</string>
	</array>
</dict>
</plist>
